Repository zbigniewsobiecki/squint: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, typecheck-ui

lint:
  run: pnpm exec biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

typecheck:
  run: pnpm run build:server

typecheck-ui:
  run: cd ui && pnpm run build

Use .squint.db default name, store relative paths, add walk-up DB discovery
  scripts/ingest.sh
  src/commands/_shared/db-helper.ts
  src/commands/_shared/flags.ts
  src/commands/_shared/index.ts
  src/commands/_shared/symbol-resolver.ts
  src/commands/browse.ts
  src/commands/domains/merge.ts
  src/commands/files/imported-by.ts
  src/commands/files/imports.ts
  src/commands/files/show.ts
  src/commands/llm/_shared/base-llm-command.ts
  src/commands/llm/_shared/verify/content-verifier.ts
  src/commands/llm/_shared/verify/coverage-checker.ts
  src/commands/parse.ts
  src/commands/relationships/annotate.ts
  src/commands/relationships/next.ts
  src/commands/relationships/verify.ts
  src/commands/stats.ts
  src/commands/symbols/annotate.ts
  src/commands/symbols/list.ts
  src/commands/symbols/next.ts
  src/commands/symbols/set.ts
  src/commands/symbols/show.ts
  src/commands/symbols/verify.ts
  src/db/database-facade.ts
  test/commands/_shared/symbol-resolver.test.ts
  test/commands/indexing.test.ts
Due: lint, typecheck

internal ingest
  scripts/ingest.sh
  src/commands/ingest.ts
Due: lint, typecheck

ci: add GitHub Actions workflows, semantic-release, and commitlint
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  LICENSE
  commitlint.config.cjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: lint, typecheck

fix: resolve biome lint issues in commitlint config, ingest, and overview commands
  commitlint.config.cjs
  src/commands/ingest.ts
  src/commands/overview.ts
Due: lint, typecheck

feat: add repository URL and keywords to package.json for npm discoverability
  package.json
Due: lint

fix: update domain tests to use create/delete commands
  test/commands/domains.test.ts
Due: lint, typecheck

feat: add repository URL and keywords for npm (#1)
  package.json
  test/commands/domains.test.ts
Due: lint, typecheck

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  85649ff07ed424178168171b56513dd6e5d99e4c
Due: none

fix: disable lefthook during npm publish in CI
  .releaserc.json
Due: lint

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5b2378bd663364987b2314e51e0191030d0a067f
Due: none

fix: use empty directory for git hooksPath in release workflow
  .github/workflows/release.yml
  .releaserc.json
Due: lint

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3130bb2bf2fb5e5cb7fe1ae7d4e058b616df49f2
Due: none

docs: restructure and update README with table of contents and current commands
  README.md
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  364e086ac3bb5bbeef2ecabadf6523f21c990f90
Due: none

fix: add prepareCmd to bump package.json version before npm publish
  .releaserc.json
Due: lint

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  4797582e54937f1a862b83e1dc12650b6791013c
Due: none

feat: enrich show commands with cross-entity context for AI agent drill-down
  README.md
  src/commands/_shared/context-helpers.ts
  src/commands/_shared/index.ts
  src/commands/domains/show.ts
  src/commands/features/show.ts
  src/commands/files/show.ts
  src/commands/flows/show.ts
  src/commands/ingest.ts
  src/commands/interactions/show.ts
  src/commands/modules/show.ts
  src/commands/relationships/show.ts
  src/commands/relationships/verify.ts
  src/commands/symbols/show.ts
  src/commands/symbols/verify.ts
  src/db/repositories/feature-repository.ts
  src/db/repositories/flow-repository.ts
  test/commands/show-enrichments.test.ts
Due: lint, typecheck

fix: format package.json for biome compliance
  package.json
Due: lint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  ad35e35038b151f1ba41bcc46f709794045c0c00
Due: none

feat: workspace resolution, re-export chains, and structural gates for interactions
  src/commands/domains/consolidate.ts
  src/commands/ingest.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/prompts.ts
  src/commands/llm/_shared/pure-check.ts
  src/commands/llm/_shared/verify/coverage-checker.ts
  src/commands/llm/_shared/verify/verify-types.ts
  src/commands/parse.ts
  src/commands/symbols/annotate.ts
  src/commands/symbols/verify.ts
  src/db/repositories/dependency-repository.ts
  src/db/repositories/interaction-repository.ts
  src/parser/ast-parser.ts
  src/parser/reference-extractor.ts
  src/parser/workspace-resolver.ts
  test/commands/llm/pure-check.test.ts
  test/parser/workspace-resolver.test.ts
Due: lint, typecheck

feat(ui): add interaction map visualization
  ui/src/d3/interaction-map.ts
  ui/src/styles/graph.css
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

feat: add incremental sync command for detecting and applying code changes
  src/commands/sync.ts
  src/db/database-facade.ts
  src/db/repositories/definition-repository.ts
  src/db/repositories/file-repository.ts
  src/sync/cascade-delete.ts
  src/sync/change-detector.ts
  src/sync/incremental-indexer.ts
Due: lint, typecheck

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  359b4fd97d40c00a4c0740eb6b56e4a985acc641
Due: none

fix: resolve re-export chains through unchanged files during sync
  package.json
  src/sync/incremental-indexer.ts
Due: lint, typecheck

Notes added by 'git notes add'
  7d982430f9aa1c9de159195782195f0888b1393e
Due: none

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

feat: improve flow generation, overhaul UI, and fix native module install
  bin/run.js
  pnpm-workspace.yaml
  src/commands/flows/generate.ts
  src/commands/llm/_shared/entity-utils.ts
  src/commands/llm/_shared/verify/coverage-checker.ts
  src/commands/llm/flows/atomic-flow-builder.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/gap-flow-generator.ts
  src/commands/llm/flows/types.ts
  src/db/schema.ts
  src/web/transforms/symbol-transforms.ts
  test/commands/llm/atomic-flow-builder.test.ts
  test/commands/llm/entity-utils.test.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/flow-tracer.test.ts
  test/commands/llm/gap-flow-generator.test.ts
  ui/index.html
  ui/src/d3/colors.test.ts
  ui/src/d3/colors.ts
  ui/src/d3/hierarchy.test.ts
  ui/src/d3/hierarchy.ts
  ui/src/d3/interaction-map.ts
  ui/src/d3/module-dag.ts
  ui/src/main.ts
  ui/src/state/store.test.ts
  ui/src/state/store.ts
  ui/src/styles/components.css
  ui/src/styles/graph.css
  ui/src/types/api.ts
  ui/src/views/interactions.ts
  ui/src/views/sunburst.ts
  ui/src/views/symbols.ts
Due: lint, typecheck, typecheck-ui

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  4f95181b809cb942e2e8cde8e1afb26cde3eacc0
Due: none

fix: remove domain-specific bias from all LLM prompts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/module-prompts.ts
  src/commands/llm/features/feature-grouper.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-validator.ts
  src/db/repositories/flow-repository.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx,js,json}
  typecheck: any of: *.{ts,tsx}
  typecheck-ui: any of: ui/**/*.{ts,tsx}
