Repository zbigniewsobiecki/squint: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, typecheck-ui

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,json}"
      run: pnpm exec biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run build:server
    typecheck-ui:
      glob: "ui/**/*.{ts,tsx}"
      run: cd ui && pnpm run build
    test:
      run: pnpm run test:coverage

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  8e5de916687a2c4d764c948f9583cc4fefd2cfbb
Due: none

fix: derive actionType and targetEntity from enhancer-generated names
  src/commands/llm/flows/flow-enhancer.ts
  test/commands/llm/flow-enhancer.test.ts
Due: lint, typecheck

fix: format package.json for biome compliance
  package.json
Due: lint

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  1539dededce70ada8897204cca8c13046d3b0bc7
Due: none

feat: add symbol-level interactions to `symbols show` + file aggregation mode
  README.md
  src/commands/symbols/show.ts
  src/db/repositories/interaction-repository.ts
  test/db/repositories/interaction-repository.test.ts
Due: lint, typecheck

fix: format package.json arrays for biome compliance
  package.json
Due: lint

feat: add symbol-level interactions to symbols show + file aggregation mode (#16)
  README.md
  package.json
  src/commands/symbols/show.ts
  src/db/repositories/interaction-repository.ts
  test/db/repositories/interaction-repository.test.ts
Due: lint, typecheck

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  882bae55015ee9d791f5a03a35f4574e51b9060a
Due: none

feat(ui): rewrite interaction map as card grid with SVG arrow overlay
  ui/src/d3/interaction-map.ts
  ui/src/styles/graph.css
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

feat(ui): rewrite interaction map as card grid with SVG arrow overlay (#17)
  ui/src/d3/interaction-map.ts
  ui/src/styles/graph.css
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

feat(cli): add --json flag to symbols list command
  src/commands/symbols/list.ts
Due: lint, typecheck

feat(ui): add d3-dag layered layout for interaction map
  pnpm-lock.yaml
  ui/package.json
  ui/src/d3/interaction-dag.ts
  ui/src/styles/graph.css
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  13a2cb9f1e0937fd174ad72e5ae54d51270788b7
Due: none

feat: add SQUINT_DB_PATH environment variable support
  README.md
  src/commands/_shared/db-helper.ts
  src/commands/ingest.ts
  src/commands/parse.ts
  src/commands/sync.ts
  test/commands/_shared/db-helper.test.ts
Due: lint, typecheck

feat: add SQUINT_DB_PATH environment variable support (#20)
  README.md
  package.json
  src/commands/_shared/db-helper.ts
  src/commands/ingest.ts
  src/commands/parse.ts
  src/commands/sync.ts
  test/commands/_shared/db-helper.test.ts
Due: lint, typecheck

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  4fcacf705a3017fd9af38c330ae285bfb3dc9052
Due: none

feat: selective depth control for flows sequence diagram and UI overhaul
  bin/dev-all.sh
  package.json
  src/parser/definition-extractor.ts
  src/parser/reference-extractor.ts
  src/web/transforms/flow-transforms.ts
  src/web/transforms/module-transforms.ts
  test/parser/definition-extractor.test.ts
  test/web/api-transforms.test.ts
  ui/src/d3/interaction-dag.ts
  ui/src/d3/interaction-sankey.ts
  ui/src/d3/module-dag.ts
  ui/src/state/store.test.ts
  ui/src/state/store.ts
  ui/src/styles/graph.css
  ui/src/styles/layout.css
  ui/src/types/api.ts
  ui/src/views/flows-dag.test.ts
  ui/src/views/flows-dag.ts
  ui/src/views/interactions.ts
  ui/src/views/symbols.ts
Due: lint, typecheck, typecheck-ui

feat: selective depth control for flows sequence diagram and UI overhaul (#22)
  bin/dev-all.sh
  package.json
  src/parser/definition-extractor.ts
  src/parser/reference-extractor.ts
  src/web/transforms/flow-transforms.ts
  src/web/transforms/module-transforms.ts
  test/parser/definition-extractor.test.ts
  test/web/api-transforms.test.ts
  ui/src/d3/interaction-dag.ts
  ui/src/d3/interaction-sankey.ts
  ui/src/d3/module-dag.ts
  ui/src/state/store.test.ts
  ui/src/state/store.ts
  ui/src/styles/graph.css
  ui/src/styles/layout.css
  ui/src/types/api.ts
  ui/src/views/flows-dag.test.ts
  ui/src/views/flows-dag.ts
  ui/src/views/interactions.ts
  ui/src/views/symbols.ts
Due: lint, typecheck, typecheck-ui

feat: contracts system — extraction, matching, CLI, API, and UI
  src/commands/contracts/extract.ts
  src/commands/contracts/index.ts
  src/commands/contracts/list.ts
  src/commands/contracts/show.ts
  src/commands/ingest.ts
  src/commands/interactions/contract-matcher.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/prompts.ts
  src/commands/symbols/annotate.ts
  src/db/database-facade.ts
  src/db/repositories/contract-repository.ts
  src/db/repositories/index.ts
  src/db/repositories/interaction-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  src/web/api-transforms.ts
  src/web/server.ts
  src/web/transforms/contract-transforms.ts
  test/commands/contract-matcher.test.ts
  test/db/repositories/contract-repository.test.ts
  test/web/contract-transforms.test.ts
  ui/index.html
  ui/src/api/client.ts
  ui/src/main.ts
  ui/src/state/store.ts
  ui/src/styles/components.css
  ui/src/types/api.ts
  ui/src/views/contracts.ts
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

feat: contracts system — extraction, matching, CLI, API, and UI (#23)
  src/commands/contracts/extract.ts
  src/commands/contracts/index.ts
  src/commands/contracts/list.ts
  src/commands/contracts/show.ts
  src/commands/ingest.ts
  src/commands/interactions/contract-matcher.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/prompts.ts
  src/commands/symbols/annotate.ts
  src/db/database-facade.ts
  src/db/repositories/contract-repository.ts
  src/db/repositories/index.ts
  src/db/repositories/interaction-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  src/web/api-transforms.ts
  src/web/server.ts
  src/web/transforms/contract-transforms.ts
  test/commands/contract-matcher.test.ts
  test/db/repositories/contract-repository.test.ts
  test/web/contract-transforms.test.ts
  ui/index.html
  ui/src/api/client.ts
  ui/src/main.ts
  ui/src/state/store.ts
  ui/src/styles/components.css
  ui/src/types/api.ts
  ui/src/views/contracts.ts
  ui/src/views/interactions.ts
Due: lint, typecheck, typecheck-ui

Notes added by 'git notes add'
  eb28826130d31adfa2e908972ded98af227d267c
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

fix: move contract-matcher to _shared to avoid oclif command discovery
  src/commands/interactions/_shared/contract-matcher.ts
  src/commands/interactions/generate.ts
  test/commands/contract-matcher.test.ts
Due: lint, typecheck

fix: format package.json to satisfy biome linter
  package.json
Due: lint

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  0bebbf8efdf7d840f4b12396fb54ac462867511e
Due: none

feat(flows): zoom-to-fit, hide internal flows, nesting containers
  ui/src/d3/zoom.ts
  ui/src/styles/graph.css
  ui/src/views/flows-dag.test.ts
  ui/src/views/flows-dag.ts
Due: lint, typecheck, typecheck-ui

fix: exclude package.json from biome checks
  biome.json
Due: lint

feat(flows): zoom-to-fit, hide internal flows, nesting containers (#26)
  biome.json
  ui/src/d3/zoom.ts
  ui/src/styles/graph.css
  ui/src/views/flows-dag.test.ts
  ui/src/views/flows-dag.ts
Due: lint, typecheck, typecheck-ui

fix: grow flow sequence diagram containers for nested expanded modules
  ui/src/views/flows-dag.ts
Due: lint, typecheck, typecheck-ui

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  399f231b652b0f002b7cd5218f4c568f3813c102
Due: none
