Repository zbigniewsobiecki/squint: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, typecheck-ui

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,json}"
      run: pnpm exec biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run build:server
    typecheck-ui:
      glob: "ui/**/*.{ts,tsx}"
      run: cd ui && pnpm run build
    test:
      run: pnpm run test:coverage

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  1840a70ca236f5574fd57fa35b6b60c5bd8d3a02
Due: none

feat: add --exclude flag to parse and ingest commands
  src/commands/ingest.ts
  src/commands/parse.ts
  src/utils/file-scanner.ts
  test/commands/parse-exclude.test.ts
  test/fixtures/with-excludes/src/app.ts
  test/fixtures/with-excludes/src/utils.ts
  test/fixtures/with-excludes/tests/app.tests.ts
  test/fixtures/with-excludes/workspace/generated.ts
  test/utils/file-scanner-exclude.test.ts
Due: lint, typecheck

feat: add incremental sync dirty tracking with strategy selection
  src/commands/sync.ts
  src/db/database-facade.ts
  src/db/repositories/index.ts
  src/db/repositories/sync-dirty-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  src/sync/incremental-indexer.ts
  src/sync/sync-strategy.ts
  test/db/repositories/sync-dirty-repository.test.ts
  test/db/schema-manager.test.ts
  test/sync/incremental-indexer.test.ts
  test/sync/sync-strategy.test.ts
Due: lint, typecheck

feat: add incremental sync dirty tracking with strategy selection (#49)
  src/commands/sync.ts
  src/db/database-facade.ts
  src/db/repositories/index.ts
  src/db/repositories/sync-dirty-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  src/sync/incremental-indexer.ts
  src/sync/sync-strategy.ts
  test/db/repositories/sync-dirty-repository.test.ts
  test/db/schema-manager.test.ts
  test/sync/incremental-indexer.test.ts
  test/sync/sync-strategy.test.ts
Due: lint, typecheck

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  c2e28dcd90a513067643859390f2a88b652fa2a3
Due: none

feat: add incremental enrichment pipeline with scoped dirty tracking
  src/commands/flows/generate.ts
  src/commands/interactions/generate.ts
  src/commands/sync.ts
  src/db/repositories/call-graph-service.ts
  src/db/repositories/interaction-repository.ts
  src/db/repositories/metadata-repository.ts
  src/db/repositories/relationship-repository.ts
  test/db/repositories/interaction-repository.test.ts
  test/db/repositories/metadata-repository.test.ts
  test/db/repositories/relationship-repository.test.ts
  test/sync/incremental-enrichment.test.ts
Due: lint, typecheck

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  26562316787ce7fe2e31e0f712f3962149cfbf5a
Due: none

fix: pipeline quality — robustness, consistency, and test coverage
  src/commands/flows/generate.ts
  src/commands/interactions/_shared/coverage-inferrer.ts
  src/commands/interactions/_shared/cross-process-inferrer.ts
  src/commands/llm/_shared/module-prompts.ts
  src/commands/llm/features/feature-grouper.ts
  src/commands/llm/flows/dedup.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/index.ts
  src/commands/modules/generate.ts
  src/commands/modules/phases/assignment-phase.ts
  src/db/repositories/interaction-analysis.ts
  src/db/repositories/metadata-repository.ts
  src/db/repositories/module-repository.ts
  test/commands/llm/dedup.test.ts
  test/commands/llm/feature-grouper.test.ts
  test/commands/llm/flow-tracer.test.ts
  test/commands/modules/phases/assignment-phase.test.ts
  test/db/repositories/interaction-analysis.test.ts
  test/db/repositories/module-repository.test.ts
Due: lint, typecheck

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  c938a65bc665c368674468796f320709d0b2511b
Due: none

feat: LLM-first flow pipeline — replace bottom-up traversal, fix coverage 14% → 58%
  src/commands/flows/generate.ts
  src/commands/llm/flows/atomic-flow-builder.ts
  src/commands/llm/flows/dedup.ts
  src/commands/llm/flows/flow-architect.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/flow-validator.ts
  src/commands/llm/flows/gap-flow-generator.ts
  src/commands/llm/flows/index.ts
  src/commands/llm/flows/journey-builder.ts
  src/commands/llm/flows/types.ts
  src/db/repositories/interaction-repository.ts
  test/commands/llm/atomic-flow-builder.test.ts
  test/commands/llm/dedup.test.ts
  test/commands/llm/flow-architect.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/flow-tracer.test.ts
  test/commands/llm/flow-validator-parse.test.ts
  test/commands/llm/gap-flow-generator.test.ts
  test/commands/llm/journey-builder.test.ts
Due: lint, typecheck

refactor: extract enrichment pipeline and remove dead code
  src/commands/llm/_shared/prompts.ts
  src/commands/sync.ts
  src/sync/enrichment-pipeline.ts
  src/sync/git-hooks.ts
  test/commands/llm/annotation-prompts.test.ts
Due: lint, typecheck

feat: Add LanguageAdapter abstraction for multi-language support
  src/parser/adapters/index.ts
  src/parser/language-adapter.ts
  test/parser/language-adapter.test.ts
Due: lint, typecheck

feat(parser): add TypeScriptAdapter implementing LanguageAdapter pattern
  src/parser/adapters/index.ts
  src/parser/adapters/typescript-adapter.ts
  test/parser/adapters/typescript-adapter.test.ts
Due: lint, typecheck

refactor(parser): use LanguageRegistry in ast-parser.ts for language-agnostic parsing
  src/parser/ast-parser.ts
Due: lint, typecheck

feat: make file-scanner use LanguageRegistry for multi-language support
  src/parser/language-adapter.ts
  src/utils/file-scanner.ts
  test/parser/language-adapter.test.ts
Due: lint, typecheck

fix: standardize glob patterns to use absolute syntax
  src/parser/adapters/typescript-adapter.ts
  test/parser/adapters/typescript-adapter.test.ts
Due: lint, typecheck

feat: add Ruby test fixtures
  test/fixtures/ruby-rails/Gemfile
  test/fixtures/ruby-rails/app/controllers/application_controller.rb
  test/fixtures/ruby-rails/app/controllers/users_controller.rb
  test/fixtures/ruby-rails/app/models/application_record.rb
  test/fixtures/ruby-rails/app/models/user.rb
  test/fixtures/ruby-rails/app/services/user_creator.rb
  test/fixtures/ruby-rails/config/routes.rb
  test/fixtures/ruby-simple/base_service.rb
  test/fixtures/ruby-simple/main.rb
  test/fixtures/ruby-simple/user_service.rb
  test/fixtures/ruby-simple/utils.rb
  test/fixtures/ruby-simple/version.rb
Due: none

feat: add Ruby test fixtures (#59)
  test/fixtures/ruby-rails/Gemfile
  test/fixtures/ruby-rails/app/controllers/application_controller.rb
  test/fixtures/ruby-rails/app/controllers/users_controller.rb
  test/fixtures/ruby-rails/app/models/application_record.rb
  test/fixtures/ruby-rails/app/models/user.rb
  test/fixtures/ruby-rails/app/services/user_creator.rb
  test/fixtures/ruby-rails/config/routes.rb
  test/fixtures/ruby-simple/base_service.rb
  test/fixtures/ruby-simple/main.rb
  test/fixtures/ruby-simple/user_service.rb
  test/fixtures/ruby-simple/utils.rb
  test/fixtures/ruby-simple/version.rb
Due: none

feat: expand DefinitionKind with 'method' and 'module' for Ruby support
  src/commands/contracts/extract.ts
  src/commands/gaps.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/prompts.ts
  src/commands/llm/_shared/verify/flow-checker.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/stats.ts
  src/commands/symbols/annotate.ts
  src/commands/symbols/list.ts
  src/commands/symbols/ready.ts
  src/commands/symbols/understood.ts
  src/db/repositories/call-graph-service.ts
  src/db/schema.ts
  src/parser/definition-extractor.ts
  test/commands/gaps.test.ts
  test/commands/symbols-metadata.test.ts
  test/db/repositories/definition-repository.test.ts
Due: lint, typecheck

feat: expand DefinitionKind with 'method' and 'module' for Ruby support (#60)
  src/commands/contracts/extract.ts
  src/commands/gaps.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/prompts.ts
  src/commands/llm/_shared/verify/flow-checker.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/stats.ts
  src/commands/symbols/annotate.ts
  src/commands/symbols/list.ts
  src/commands/symbols/ready.ts
  src/commands/symbols/understood.ts
  src/db/repositories/call-graph-service.ts
  src/db/schema.ts
  src/parser/definition-extractor.ts
  test/commands/gaps.test.ts
  test/commands/symbols-metadata.test.ts
  test/db/repositories/definition-repository.test.ts
Due: lint, typecheck

feat(parser): add RubyAdapter skeleton and tree-sitter-ruby dependency
  package.json
  pnpm-lock.yaml
  src/parser/adapters/index.ts
  src/parser/adapters/ruby-adapter.ts
  ui/src/types/api.ts
Due: lint, typecheck, typecheck-ui

test(ruby): add basic integration tests for RubyAdapter
  test/parser/adapters/ruby-adapter.test.ts
Due: lint, typecheck

feat(parser): add RubyAdapter skeleton and tree-sitter-ruby dependency (#61)
  package.json
  pnpm-lock.yaml
  src/parser/adapters/index.ts
  src/parser/adapters/ruby-adapter.ts
  test/parser/adapters/ruby-adapter.test.ts
  ui/src/types/api.ts
Due: lint, typecheck, typecheck-ui

feat(ruby): implement Ruby definition extraction
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/definition-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/definition-extractor.test.ts
Due: lint, typecheck

fix(ruby): address review feedback on definition extraction
  src/parser/adapters/ruby/definition-extractor.ts
  test/parser/adapters/ruby/definition-extractor.test.ts
Due: lint, typecheck

fix(ruby): resolve visibility handling and test import path
  src/parser/adapters/ruby/definition-extractor.ts
  test/parser/adapters/ruby/definition-extractor.test.ts
Due: lint, typecheck

feat(ruby): implement Ruby definition extraction (#62)
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/definition-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/definition-extractor.test.ts
Due: lint, typecheck

feat(ruby): implement reference extraction for require and Rails autoloading
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/reference-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/reference-extractor.test.ts
Due: lint, typecheck

feat(ruby): implement reference extraction for require and Rails autoloading (#63)
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/reference-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/reference-extractor.test.ts
Due: lint, typecheck

feat(ruby): implement internal usage tracking for method calls
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/reference-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/internal-usage-extractor.test.ts
Due: lint, typecheck

feat(ruby): implement internal usage tracking for method calls (#64)
  src/parser/adapters/ruby-adapter.ts
  src/parser/adapters/ruby/reference-extractor.ts
  test/parser/adapters/ruby-adapter.test.ts
  test/parser/adapters/ruby/internal-usage-extractor.test.ts
Due: lint, typecheck

feat(llm): add language-aware LLM prompts with Ruby/Rails-specific guidance
  src/commands/llm/_shared/prompts.ts
  test/commands/llm/annotation-prompts.test.ts
Due: lint, typecheck

feat(llm): add language-aware LLM prompts with Ruby/Rails-specific guidance (#65)
  src/commands/llm/_shared/prompts.ts
  test/commands/llm/annotation-prompts.test.ts
Due: lint, typecheck

feat(pure-check): add Ruby language support with ActiveRecord, IO, and ivar detection
  src/commands/llm/_shared/pure-check.ts
  test/commands/llm/pure-check.test.ts
Due: lint, typecheck

feat(pure-check): add Ruby language support with ActiveRecord, IO, and ivar detection (#66)
  src/commands/llm/_shared/pure-check.ts
  test/commands/llm/pure-check.test.ts
Due: lint, typecheck

test(ruby): add integration tests for Ruby parsing and multi-language support
  test/commands/parse-ruby.test.ts
Due: lint, typecheck
