Repository zbigniewsobiecki/squint: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, typecheck-ui

lint:
  run: pnpm exec biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

typecheck:
  run: pnpm run build:server

typecheck-ui:
  run: cd ui && pnpm run build

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  91fac63b1c3ea81b641a89d8621305e258e4a6fa
Due: none

feat(flows): definition-level flow tracing with contract bridges
  src/commands/flows/generate.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/types.ts
  src/db/repositories/interaction-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/flow-tracer.test.ts
  test/fixtures/car-dealership-expected-flows.md
Due: lint, typecheck

fix(flows): deduplicate definition bridges and fallback semantic lookup
  src/commands/llm/flows/flow-tracer.ts
  src/db/repositories/flow-repository.ts
Due: lint, typecheck

feat(flows): definition-level flow tracing with contract bridges (#29)
  src/commands/flows/generate.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/types.ts
  src/db/repositories/flow-repository.ts
  src/db/repositories/interaction-repository.ts
  src/db/schema-manager.ts
  src/db/schema.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/flow-tracer.test.ts
  test/fixtures/car-dealership-expected-flows.md
Due: lint, typecheck

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  a69e2263d0c6868833b876078088c1fe1058e8a9
Due: none

refactor(flows): extract TraceState and simplify recursive flow tracing
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/types.ts
  test/commands/llm/flow-tracer.test.ts
Due: lint, typecheck

refactor(verify): split coverage-checker into domain-specific files
  src/commands/flows/verify.ts
  src/commands/interactions/verify.ts
  src/commands/llm/_shared/verify/annotation-checker.ts
  src/commands/llm/_shared/verify/coverage-checker.ts
  src/commands/llm/_shared/verify/flow-checker.ts
  src/commands/llm/_shared/verify/integrity-checker.ts
  src/commands/llm/_shared/verify/interaction-checker.ts
  src/commands/llm/_shared/verify/module-checker.ts
  src/commands/llm/_shared/verify/relationship-checker.ts
  src/commands/modules/verify.ts
  src/commands/relationships/verify.ts
  src/commands/symbols/verify.ts
  test/commands/llm/annotation-checker.test.ts
  test/commands/llm/coverage-checker.test.ts
  test/commands/llm/flow-checker.test.ts
  test/commands/llm/integrity-checker.test.ts
  test/commands/llm/interaction-checker.test.ts
  test/commands/llm/module-checker.test.ts
  test/commands/llm/relationship-checker.test.ts
Due: lint, typecheck

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  3a18b1c58cc4d740596d1e0c6424760b16992b85
Due: none

refactor(interactions): split generate.ts into focused modules + add verify phase 2
  src/commands/contracts/_shared/key-resolver.ts
  src/commands/contracts/_shared/mount-resolver.ts
  src/commands/contracts/extract.ts
  src/commands/interactions/_shared/ast-semantics.ts
  src/commands/interactions/_shared/coverage-inferrer.ts
  src/commands/interactions/_shared/cross-process-inferrer.ts
  src/commands/interactions/_shared/interaction-gates.ts
  src/commands/interactions/generate.ts
  src/commands/llm/_shared/base-llm-command.ts
  src/commands/llm/_shared/verify/content-verifier.ts
  src/commands/llm/_shared/verify/verify-prompts.ts
  src/commands/llm/_shared/verify/verify-types.ts
  src/commands/modules/verify.ts
  src/commands/sync.ts
  src/db/repositories/dependency-repository.ts
  test/commands/contracts/key-resolver.test.ts
  test/commands/contracts/mount-resolver.test.ts
  test/commands/interactions/interaction-gates.test.ts
  test/commands/llm/content-verifier.test.ts
Due: lint, typecheck

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  407e3a5f0e1b15a690ac19da56bdea30c3bca598
Due: none

feat: flow classification, fuzzy contract matching, journey builder, domain consolidation
  src/commands/contracts/_shared/key-resolver.ts
  src/commands/contracts/extract.ts
  src/commands/domains/consolidate.ts
  src/commands/flows/generate.ts
  src/commands/flows/list.ts
  src/commands/ingest.ts
  src/commands/interactions/_shared/contract-matcher.ts
  src/commands/llm/flows/dedup.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/index.ts
  src/commands/llm/flows/journey-builder.ts
  src/commands/modules/generate.ts
  src/web/transforms/flow-transforms.ts
  test/commands/contract-matcher.test.ts
  test/commands/contracts/key-resolver.test.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/journey-builder.test.ts
  test/web/api-transforms.test.ts
  ui/src/main.ts
  ui/src/state/store.test.ts
  ui/src/styles/components.css
  ui/src/styles/variables.css
  ui/src/types/api.ts
  ui/src/views/flows-dag.ts
Due: lint, typecheck, typecheck-ui

feat: flow classification, fuzzy contract matching, journey builder, domain consolidation (#35)
  src/commands/contracts/_shared/key-resolver.ts
  src/commands/contracts/extract.ts
  src/commands/domains/consolidate.ts
  src/commands/flows/generate.ts
  src/commands/flows/list.ts
  src/commands/ingest.ts
  src/commands/interactions/_shared/contract-matcher.ts
  src/commands/llm/flows/dedup.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-enhancer.ts
  src/commands/llm/flows/index.ts
  src/commands/llm/flows/journey-builder.ts
  src/commands/modules/generate.ts
  src/web/transforms/flow-transforms.ts
  test/commands/contract-matcher.test.ts
  test/commands/contracts/key-resolver.test.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/flow-enhancer.test.ts
  test/commands/llm/journey-builder.test.ts
  test/web/api-transforms.test.ts
  ui/src/main.ts
  ui/src/state/store.test.ts
  ui/src/styles/components.css
  ui/src/styles/variables.css
  ui/src/types/api.ts
  ui/src/views/flows-dag.ts
Due: lint, typecheck, typecheck-ui

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  6fef573394d5fd218a6b44096739e9ed476af8f4
Due: none

refactor: extract god class modules/generate.ts into phase modules
  .cascade-progress-comment-id
  src/commands/modules/_shared/cohort-voter.ts
  src/commands/modules/_shared/fallback-assignment.ts
  src/commands/modules/_shared/module-path-resolver.ts
  src/commands/modules/generate.ts
  src/commands/modules/phases/assignment-phase.ts
  src/commands/modules/phases/deepen-phase.ts
  src/commands/modules/phases/tree-phase.ts
Due: lint, typecheck

chore: remove cascade progress tracking file
  .cascade-progress-comment-id
Due: none

fix: remove dead code and fix logging consistency in phase modules
  src/commands/modules/_shared/fallback-assignment.ts
  src/commands/modules/generate.ts
  src/commands/modules/phases/deepen-phase.ts
Due: lint, typecheck

fix: entity scope case mismatch, phantom dedup robustness, gap flow visibility
  src/commands/contracts/extract.ts
  src/commands/flows/generate.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/commands/llm/flows/flow-tracer.ts
  src/commands/llm/flows/gap-flow-generator.ts
  src/commands/llm/flows/types.ts
  src/db/repositories/contract-repository.ts
  test/commands/llm/flow-tracer.test.ts
  test/commands/llm/gap-flow-generator.test.ts
  test/db/repositories/contract-repository.test.ts
Due: lint, typecheck

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  0652900feed68c3cb035c832be41ab8bfd788001
Due: none

feat: make squint sync CI-ready with --strict flag, atomic transactions, and concurrency guard
  README.md
  src/commands/sync.ts
  src/db/connection.ts
  src/sync/incremental-indexer.ts
  test/db/connection.test.ts
  test/sync/incremental-indexer.test.ts
Due: lint, typecheck

test: add comprehensive test coverage for sync, db utils, and web transforms
  .cascade-progress-comment-id
  test/db/utils/tree-builder.test.ts
  test/sync/cascade-delete.test.ts
  test/sync/change-detector.test.ts
  test/web/transforms/symbol-transforms.test.ts
Due: lint, typecheck

chore: remove cascade progress file and add to gitignore
  .cascade-progress-comment-id
  .gitignore
Due: none

test: add coverage for sync layer and db utils
  .cascade-progress-comment-id
  test/db/utils/tree-builder.test.ts
  test/sync/cascade-delete.test.ts
  test/sync/change-detector.test.ts
Due: lint, typecheck

chore: remove temporary cascade progress file
  .cascade-progress-comment-id
Due: none

fix: resolve phantom edges, missing server contracts, and entity grouping
  src/commands/contracts/extract.ts
  src/commands/llm/flows/journey-builder.ts
  src/db/repositories/interaction-repository.ts
  test/commands/llm/journey-builder.test.ts
  test/db/repositories/interaction-repository.test.ts
Due: lint, typecheck

Notes added by 'git notes add'
  cbac643ca3d5d07a655821ce9c8729856e79a9a2
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

refactor: extract shared indexing primitives and remove dead code
  .cascade-progress-comment-id
  src/commands/parse.ts
  src/db/database.ts
  src/db/schema.ts
  src/sync/incremental-indexer.ts
  src/sync/reference-resolver.ts
  test/sync/reference-resolver.test.ts
Due: lint, typecheck

fix: complete duplication elimination and remove build artifacts
  .cascade-progress-comment-id
  .gitignore
  src/commands/parse.ts
  test/commands/indexing.test.ts
Due: lint, typecheck

fix: improve module assignment accuracy and flow completeness
  src/commands/llm/_shared/module-prompts.ts
  src/commands/llm/flows/entry-point-detector.ts
  src/db/repositories/graph-repository.ts
  src/db/repositories/module-repository.ts
  src/db/schema.ts
  test/commands/llm/entry-point-detector.test.ts
  test/commands/llm/module-prompts.test.ts
Due: lint, typecheck

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint

Notes added by 'git notes add'
  6a0d17c7e96c145b90a49f6af0245adeb26da8a1
Due: none

test: add coverage for web transforms and database facade
  test/db/database.test.ts
  test/web/flow-transforms.test.ts
  test/web/module-transforms.test.ts
Due: lint, typecheck

refactor: extract shared annotation and relationship utilities
  src/commands/_shared/annotation-validators.ts
  src/commands/_shared/index.ts
  src/commands/_shared/relationship-source-groups.ts
  src/commands/_shared/retry-queue.ts
  src/commands/_shared/symbol-enhancer.ts
  src/commands/relationships/annotate.ts
  src/commands/relationships/verify.ts
  src/commands/symbols/annotate.ts
  src/commands/symbols/verify.ts
  test/commands/_shared/annotation-validators.test.ts
  test/commands/_shared/retry-queue.test.ts
  test/commands/_shared/symbol-enhancer.test.ts
Due: lint, typecheck

feat: add retry logic for transient LLM errors in completeWithLogging
  package.json
  pnpm-lock.yaml
  src/commands/llm/_shared/llm-utils.ts
  test/commands/llm/llm-utils-retry.test.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx,js,json}
  typecheck: any of: *.{ts,tsx}
  typecheck-ui: any of: ui/**/*.{ts,tsx}
